*{
    margin: 0;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(36, 36, 39);
    display: flex;
    align-items: center;
    color: white;

}

.left-side{
    width: 50%;
    padding-left: 10%;
}
.right-side{
    width: 50%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}